/vendor/
/node_modules/
.env
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/public/uploads/videos/*
!/public/uploads/videos/.gitkeep
.phpunit.result.cache
